*{
    font-family: "Yu Gothic", arial;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
}

.top-wrapper {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}

.header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    gap:140px;
    
}

ul.header-links, .logo{
    list-style: none;
    color: #E5E7EB;
    display: flex;
    gap:15px;
    font-size: 18px;
}


a{
    text-decoration:none;
    color:inherit;
}

.logo
{
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.top-image-container img,
.info-containers img{
    display:flex;
    height: auto;
    width: 400px;
    max-width: 100%;
   
}

.body-wrapper{
    display:flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom:100px;
    padding: 0 40px;
}
   
.awesome-container{
    width: 400px;
    display: flex;
    flex-wrap: wrap;   
}

.awesome-header {
    font-size: 48px; 
    font-weight: 900;
    color: #F9FAF8;
}

.awesome-subtext {
    font-size:18px;
    color: #E5E7EB;
}

button{
    width: 120px;
    height: 35px;
    background-color: #3882F6;
    border-color: #3882F6; 
    color:#F9FAF8 ;
    font-weight: bold;
    border-radius: 8px; 
    font-size: 18px;
}



/*Second layer

.info-containers img{
    border: 5px solid #3882F6;
    border-radius: 8px; 
    width: 200px;
}
*/
.info-header{
   font-size: 36px;
   font-weight: bolder;
   text-align: center;
   padding:40px;

}

.info-img-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.illustrations{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.info-containers{
    display: flex;
    width: 300px;  
    flex-wrap: wrap;
    gap: 5px;
}

.sub-info{
    text-align: center;
}

.info-containers img{
    border: 5px solid #3882F6;
    border-radius: 8px;
}

/* quote*/

.quote-wrapper{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    font-weight:100;
    padding: 150px;
    gap:10px;
    
    
    
}

.quote-wrapper .quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    align-self: center;
   
 
}

.thor{
    align-self: flex-end;
    font-weight: 900;
    font-size: 22px;
}


/*sign up*/

.action-wrapper, .action,
.signer
{
    display: flex;
}
.action-wrapper{
    justify-content: center;
}


.signer{
    flex-direction: column;
    padding: 0 20px;
}

.action{
    justify-content: space-between;
    background-color: #3882F6;
    margin: 100px;
    gap:350px;
    padding:50px 80px;
    border-radius: 15px;
    
}

.action button{
    
    border: solid white;
    font-size: 20px;
    min-width: auto;
    height: auto;
}

.signer div{
    color: #E5E7EB;
}

.title-action{
    font-size: 28px;
    font-weight: bold;
}

.sub-action{
    font-size: 20px;
}

/*FOOTER


*/
.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px ;
    font-size: 20px;
    color: #F9FAF8;
}
